body {
  background: url(img/background2.jpg) repeat;
  background-size: cover;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.carousel-item {
  height: max-content;
}

.carousel-inner {
  transition: 1s;
  height: max-content;
}

.carousel-caption {
  transition: 300ms ease;
  opacity: 50%;
  &:hover {
    text-shadow: black 1px 1px 2px;
    opacity:100%;
  }
}

.card-proyecto {
  width: 50%;
  
}